@model  MailgunAPIDirect.Entities.EventStats


@if (Model != null)
{
    <div id="section1" class="col-md-offset-1 col-md-10 css-sm-container-each" style="">
        <div>
            <div class="col-sm-12">
                <div class="col-md-offset-9 col-md-3">
                    <span style="float: right;    color: #887d4d;    font-weight: lighter;    margin-bottom: 50px;">
                        @ViewData["startdate"] - @ViewData["enddate"]
                    </span>
                </div>
            </div>
            <div class="col-sm-12 css-sm-summarytop" style="display: none;">
                <div class="col-sm-3 css-sm-animate-slideUp">
                    <input type="hidden" id="hdn_accepted" value="@Model.Accepted.Total" />
                    @{
                        string perc1 = "";
                        perc1 = Model.Accepted.Total.ToString("#,##0");

                    }
                    <label id="lbl_accepted" style="color: #78c3c3">
                        @(perc1)
                    </label>



                    <br />
                    <label2>Accepted</label2>
                </div>



                <div class="col-md-3 css-sm-animate-slideUp">
                    <input type="hidden" id="hdn_processed" value="@(Convert.ToInt32(Model.Delivered.Total) + Convert.ToInt32(Model.Failed.Permanent.Total))" />
                    @{
                        perc1 = (Convert.ToInt32(Model.Delivered.Total) + Convert.ToInt32(Model.Failed.Permanent.Total)).ToString("#,##0");
                    }
                    <label id="lbl_processed" style="color: rgba(208, 181, 112, 0.8)">
                        @(perc1)
                    </label>
                    <br />
                    <label2>Processed</label2>
                </div>

                <input type="hidden" id="hdn_delivered" value="@Model.Delivered.Total" />
                <div class="col-sm-3 css-sm-animate-slideUp">
                    @{
                        perc1 = Model.Delivered.Total.ToString("#,##0");
                    }
                    <label id="lbl_delivered" style="color: #2dbd38">
                        @(perc1)
                    </label>



                    <prc style="color: #2dbd38">

                        @{

                            if (Convert.ToDecimal(Model.Delivered.Total) + Convert.ToDecimal(Model.Failed.Permanent.Total) != 0)
                            {
                                perc1 = ((Convert.ToDecimal(Model.Delivered.Total) / (Convert.ToDecimal(Model.Delivered.Total) + Convert.ToDecimal(Model.Failed.Permanent.Total)))).ToString("(##.##%)").Trim();
                            }
                        }

                        @(perc1)


                    </prc>

                    <br />
                    <label2>Delivered</label2>
                </div>
                <div class="col-sm-3 css-sm-animate-slideUp">
                    <input type="hidden" id="hdn_failed" value="@Model.Failed.Permanent.Total" />
                    @{
                        perc1 = Convert.ToInt32(Model.Failed.Permanent.Total).ToString("#,##0");
                    }

                    <label id="lbl_failed" style="color: #dc3535">
                        @(perc1)
                    </label>

                    <prc style="color: #dc3535">
                        @{
                            perc1 = "";
                            if (Convert.ToDecimal(Model.Delivered.Total) + Convert.ToDecimal(Model.Failed.Permanent.Total) != 0)
                            {
                                perc1 = ((Convert.ToDecimal(Model.Failed.Permanent.Total) / (Convert.ToDecimal(Model.Delivered.Total) + Convert.ToDecimal(Model.Failed.Permanent.Total)))).ToString("(##.##%)").Trim();
                            }
                        }

                        @(perc1)


                    </prc>

                    <br />
                    <label2>Failed (Suppressed + Dropped)</label2>
                </div>

            </div>


            <h3>
                <label style="    color: #667957;
    padding: 20px;
    border-bottom: 3px solid #6a8a7a;
    border-radius: 1px;
    box-shadow: 0px 2px 3px #a8c3b9;
    background-color: #ffffff;">@Model.tag</label>
</h3>
<hr />


@*<input id="btn_showchart" type="button" class="btn btn-sm btn-info" onclick="fn_showchart($('#myChart11'))" value="Show Chart" />*@




<div class="css-sm-table-TagStatus" style="">

    <div class="table-body">

        <table class="css-sm-table-1">
            <thead>
                <tr style="background-color: white; height: 80px; border-bottom: 5px solid #ecde97">
                    <td>
                        <div class="css-sm-animate-slideUp">
                            <input type="hidden" id="hdn_accepted" value="@Model.Accepted.Total" />
                            @{
                                perc1 = "";
                                perc1 = Model.Accepted.Total.ToString("#,##0");

                            }
                            <label id="lbl_accepted" style="color: #78c3c3">
                                @(perc1)
                            </label>



                            <br />
                            <label2>Accepted</label2>
                        </div>
                    </td>
                    <td>
                        <div class="css-sm-animate-slideUp">
                            <input type="hidden" id="hdn_processed" value="@(Convert.ToInt32(Model.Delivered.Total) + Convert.ToInt32(Model.Failed.Permanent.Total))" />
                            @{
                                perc1 = (Convert.ToInt32(Model.Delivered.Total) + Convert.ToInt32(Model.Failed.Permanent.Total)).ToString("#,##0");
                            }
                            <label id="lbl_processed" style="color: rgba(208, 181, 112, 0.8)">
                                @(perc1)
                            </label>
                            <br />
                            <label2>Processed</label2>
                        </div>
                    </td>
                    <td>
                        <div class="css-sm-animate-slideUp">
                            @{
                                perc1 = Model.Delivered.Total.ToString("#,##0");
                            }
                            <label id="lbl_delivered" style="color: #2dbd38">
                                @(perc1)
                            </label>



                            <prc style="color: #2dbd38">

                                @{

                                    if (Convert.ToDecimal(Model.Delivered.Total) + Convert.ToDecimal(Model.Failed.Permanent.Total) != 0)
                                    {
                                        perc1 = ((Convert.ToDecimal(Model.Delivered.Total) / (Convert.ToDecimal(Model.Delivered.Total) + Convert.ToDecimal(Model.Failed.Permanent.Total)))).ToString("(##.##%)").Trim();
                                    }
                                }

                                @(perc1)


                            </prc>

                            <br />
                            <label2>Delivered</label2>
                        </div>
                    </td>
                    <td>
                        <div class="css-sm-animate-slideUp">
                            <input type="hidden" id="hdn_failed" value="@Model.Failed.Permanent.Total" />
                            @{
                                perc1 = Convert.ToInt32(Model.Failed.Permanent.Total).ToString("#,##0");
                            }

                            <label id="lbl_failed" style="color: #dc3535">
                                @(perc1)
                            </label>

                            <prc style="color: #dc3535">
                                @{
                                    perc1 = "";
                                    if (Convert.ToDecimal(Model.Delivered.Total) + Convert.ToDecimal(Model.Failed.Permanent.Total) != 0)
                                    {
                                        perc1 = ((Convert.ToDecimal(Model.Failed.Permanent.Total) / (Convert.ToDecimal(Model.Delivered.Total) + Convert.ToDecimal(Model.Failed.Permanent.Total)))).ToString("(##.##%)").Trim();
                                    }
                                }

                                @(perc1)
                            </prc>

                            <br />
                            <label2>Failed (Suppressed + Dropped)</label2>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="background-color: white; ">
                    <td colspan="4" style="padding-top: 20px;">
                        <div id="span_hideshowchart" class="btn btn-sm btn-default" onclick="fn_showhide_chart(0)" style="float: left; margin-bottom: 30px; font-size: 18px;">
                            Show/Hide Chart
                            @*<i class="glyphicon glyphicon-eye-open" style="display: none;"></i>
                            <i class="glyphicon glyphicon-eye-close"></i>*@
                        </div>
                        <canvas id="myChart11" style="
    border: 1px solid #a7a1a1;
    box-shadow: 0px 0px 2px 0px grey;
    padding: 25px;
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    background-color: #f5f5f5;
    " width="1176" height="635" class="chartjs-render-monitor"></canvas>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">
                        <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Accepted", new { id = "lblTagName", @class = "css-sm-bold" })</div>
                        <div class="col-sm-10 campaign-manager float-left light-grey ">Mailgun accepted the request to send/forward the email and the message has been placed in queue.</div>
                    </td>
                </tr>
                <tr>
                    
                    <td></td>
                    <td></td>
                    <td class="css-sm-pad-left-100">
                        <div class="campaign-manager float-left css-sm-animate-fadeIn css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Accepted.Incoming.ToString("#,##0")
                            <br />
                            <lbl>Incoming</lbl>


                        </div>

                    </td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Accepted.Total.ToString("#,##0")
                            <br />
                            <lbl>Accepted</lbl>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Processed", new { id = "lblTagName", @class = "css-sm-bold" })</div>
                        <div class="col-sm-10 campaign-manager float-left light-grey ">Mailgun accepted the request to send/forward the email and the message has been placed in queue.</div>

                    </td>
                </tr>
                <tr>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @(
                                                                                                                                (Convert.ToInt32(Model.Delivered.Total) + Convert.ToInt32(Model.Failed.Permanent.Total)).ToString("#,###0")
                            )
                            <br />
                            <lbl>Processed</lbl>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td colspan="4">
                        <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Delivered", new { id = "lblDelivered", @class = "css-sm-bold" })</div>
                        <div class="col-sm-10 campaign-manager float-left  light-grey">Mailgun sent the email and it was accepted by the recipient email server.</div>

                    </td>
                </tr>
                <tr>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Delivered.Total.ToString("#,##0")
                            <br />
                            <lbl>Delivered</lbl>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td colspan="4">
                        <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Failed", new { id = "lblDelivered", @class = "css-sm-bold" })</div>
                        <div class="col-sm-10 campaign-manager float-left  light-grey">Mailgun tried emails but some emails sending failed.</div>
                    </td>
                </tr>
                <tr>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Failed.Permanent.Total.ToString("#,##0")
                            <br />
                            <lbl>Failed</lbl>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Bounced", new { id = "lblBounced", @class = "css-sm-bold" })</div>
                        <div class="col-sm-10 campaign-manager float-left  light-grey">Mailgun could not deliver the email to the recipient email server.</div>
                    </td>
                </tr>
                <tr>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Failed.Permanent.Total.ToString("#,##0")
                            <br />
                            <lbl>Bounced</lbl>
                        </div>
                    </td>
                </tr>



                <tr>
                    <td colspan="4">
                        <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Opened", new { id = "lblOpened", @class = "css-sm-bold" })</div>
                        <div class="col-sm-10 campaign-manager float-left  light-grey">The email recipient opened the email and enabled image viewing.</div>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-right css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Opened.Unique.ToString("#,##0")
                            <br />
                            <lbl>Unique</lbl>
                        </div>
                    </td>

                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Opened.Total.ToString("#,##0")
                            <br />
                            <lbl>Opened</lbl>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <div class="col-sm-2 campaign-manager float-left ">@Html.Label("stored", new { id = "lblStored", @class = "css-sm-bold" })</div>
                        <div class="col-sm-10 campaign-manager float-left  light-grey">Mailgun has stored an incoming message.</div>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Opened.Total.ToString("#,##0")
                            <br />
                            <lbl>stored</lbl>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td colspan="4">
                        <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Clicked", new { id = "lblClicked", @class = "css-sm-bold" })</div>
                        <div class="col-sm-10 campaign-manager float-left  light-grey">The email recipient clicked on a link in the email.</div>
                </tr>
                <tr>
                    
                    <td></td>
                    <td></td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-right css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Clicked.Unique.ToString("#,##0")
                            <br />
                            <lbl>Unique</lbl>

                        </div>
                    </td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Clicked.Total.ToString("#,##0")
                            <br />
                            <lbl>Clicked</lbl>

                        </div>
                    </td>

                </tr>
                <tr>
                    <td colspan="4">
                        <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Complained", new { id = "lblComplained", @class = "css-sm-bold" })</div>
                        <div class="col-sm-10 campaign-manager float-left  light-grey">The email recipient clicked on the spam complaint button within their email client.</div>


                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Complained.Total.ToString("#,##0")
                            <br />
                            <lbl>Complained</lbl>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Unsubscribed", new { id = "lblUnsubscribed", @class = "css-sm-bold" })</div>
                        <div class="col-sm-10 campaign-manager float-left  light-grey">The email recipient clicked on the unsubscribe link.</div>
                    </td>
                </tr>
                <tr>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Unsubscribed.Total.ToString("#,##0")
                            <br />
                            <lbl>Unsubcribed</lbl>

                        </div>
                    </td>

                </tr>
                <tr>
                    <td colspan="4">

                        <div class="col-sm-2  campaign-manager float-left ">@Html.Label("Failed Temporary", new { id = "lblFailedTemporary", @class = "css-sm-bold" })</div>
                        <div class="col-sm-10 campaign-manager float-left  light-grey">Mailgun could not deliver the email to the recipient email server.</div>


                    </td>
                </tr>
                <tr>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="css-sm-pad-left-100">
                        <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                            @Model.Failed.Temporary.Total.ToString("#,##0")
                            <br />
                            <lbl>Failed(Temp)</lbl>
                        </div>
                    </td>

                </tr>
                
                
            </tbody>
        </table>


        <br />
        @*<div class="row">
                <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Accepted", new { id = "lblTagName", @class = "css-sm-bold" })</div>
                <div class="col-sm-10 campaign-manager float-left light-grey ">Mailgun accepted the request to send/forward the email and the message has been placed in queue.</div>
            </div>
            <div class="row">
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-1 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-right "></div>
                <div class="col-sm-3 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @Model.Accepted.Incoming.ToString("#,##0")
                    <br />
                    <lbl>Incoming</lbl>


                </div>

                <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @Model.Accepted.Total.ToString("#,##0")

                    <br />
                    <lbl>Accepted</lbl>
                </div>
            </div>*@
        @*<div class="row">
                <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Processed", new { id = "lblTagName", @class = "css-sm-bold" })</div>
                <div class="col-sm-10 campaign-manager float-left light-grey ">Mailgun accepted the request to send/forward the email and the message has been placed in queue.</div>
            </div>*@
        @*<div class="row">
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-1 campaign-manager float-left "></div>
                <div class="col-sm-3 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @(
                                                        (Convert.ToInt32(Model.Delivered.Total) + Convert.ToInt32(Model.Failed.Permanent.Total)).ToString("#,###0")
                    )
                    <br />
                    <lbl>Processed</lbl>
                </div>
            </div>*@

        @*<div class="row">
                <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Delivered", new { id = "lblDelivered", @class = "css-sm-bold" })</div>
                <div class="col-sm-10 campaign-manager float-left  light-grey">Mailgun sent the email and it was accepted by the recipient email server.</div>
            </div>
            <div class="row">
                <div class="col-sm-1 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-3 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @Model.Delivered.Total.ToString("#,##0")
                    <br />
                    <lbl>Delivered</lbl>
                </div>
            </div>*@

        @*<div class="row">
                <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Failed", new { id = "lblDelivered", @class = "css-sm-bold" })</div>
                <div class="col-sm-10 campaign-manager float-left  light-grey">Mailgun tried emails but some emails sending failed.</div>
            </div>
            <div class="row">
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-1 campaign-manager float-left "></div>
                <div class="col-sm-3 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @Model.Failed.Permanent.Total.ToString("#,##0")
                    <br />
                    <lbl>Failed</lbl>
                </div>
            </div>*@



        @*<div class="row">
                <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Bounced", new { id = "lblBounced", @class = "css-sm-bold" })</div>
                <div class="col-sm-10 campaign-manager float-left  light-grey">Mailgun could not deliver the email to the recipient email server.</div>
            </div>

            <div class="row">
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-1 campaign-manager float-left "></div>
                <div class="col-sm-3 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @Model.Failed.Permanent.Total.ToString("#,##0")
                    <br />
                    <lbl>Bounced</lbl>

                </div>
            </div>*@
        @*<div class="row">
                <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Opened", new { id = "lblOpened", @class = "css-sm-bold" })</div>
                <div class="col-sm-10 campaign-manager float-left  light-grey">The email recipient opened the email and enabled image viewing.</div>
            </div>
            <div class="row">
                <div class="col-sm-1 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-3 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-right css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @Model.Opened.Unique.ToString("#,##0")
                    <br />
                    <lbl>Unique</lbl>

                </div>

                <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @Model.Opened.Total.ToString("#,##0")
                    <br />
                    <lbl>Opened</lbl>
                </div>
            </div>*@

        @*<div class="row">
                <div class="col-sm-2 campaign-manager float-left ">@Html.Label("stored", new { id = "lblStored", @class = "css-sm-bold" })</div>
                <div class="col-sm-10 campaign-manager float-left  light-grey">Mailgun has stored an incoming message.</div>
            </div>
            <div class="row">
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-1 campaign-manager float-left "></div>
                <div class="col-sm-3 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @Model.Opened.Total.ToString("#,##0")
                    <br />
                    <lbl>stored</lbl>
                </div>
            </div>*@



        @*<div class="row">
                <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Clicked", new { id = "lblClicked", @class = "css-sm-bold" })</div>
                <div class="col-sm-10 campaign-manager float-left  light-grey">The email recipient clicked on a link in the email.</div>
            </div>
            <div class="row">
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-1 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-3 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-right css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @Model.Clicked.Unique.ToString("#,##0")
                    <br />
                    <lbl>Unique</lbl>

                </div>

                <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @Model.Clicked.Total.ToString("#,##0")
                    <br />
                    <lbl>Clicked</lbl>

                </div>
            </div>*@
        @*<div class="row">
                <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Complained", new { id = "lblComplained", @class = "css-sm-bold" })</div>
                <div class="col-sm-10 campaign-manager float-left  light-grey">The email recipient clicked on the spam complaint button within their email client.</div>
            </div>
            <div class="row">
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left "></div>
                <div class="col-sm-1 campaign-manager float-left "></div>
                <div class="col-sm-3 campaign-manager float-left "></div>
                <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                    @Model.Complained.Total.ToString("#,##0")
                    <br />
                    <lbl>Complained</lbl>
                </div>
            </div>*@
        @*<div class="row">
            <div class="col-sm-2 campaign-manager float-left ">@Html.Label("Unsubscribed", new { id = "lblUnsubscribed", @class = "css-sm-bold" })</div>
            <div class="col-sm-10 campaign-manager float-left  light-grey">The email recipient clicked on the unsubscribe link.</div>
        </div>
        <div class="row">
            <div class="col-sm-2 campaign-manager float-left "></div>
            <div class="col-sm-2 campaign-manager float-left "></div>
            <div class="col-sm-2 campaign-manager float-left "></div>
            <div class="col-sm-1 campaign-manager float-left "></div>
            <div class="col-sm-3 campaign-manager float-left "></div>
            <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                @Model.Unsubscribed.Total.ToString("#,##0")
                <br />
                <lbl>Unsubcribed</lbl>

            </div>
        </div>*@
        @*<div class="row">
            <div class="col-sm-2  campaign-manager float-left ">@Html.Label("Failed Temporary", new { id = "lblFailedTemporary", @class = "css-sm-bold" })</div>
            <div class="col-sm-10 campaign-manager float-left  light-grey">Mailgun could not deliver the email to the recipient email server.</div>
        </div>
        <div class="row">
            <div class="col-sm-2 campaign-manager float-left "></div>
            <div class="col-sm-2 campaign-manager float-left "></div>
            <div class="col-sm-2 campaign-manager float-left "></div>
            <div class="col-sm-1 campaign-manager float-left "></div>
            <div class="col-sm-3 campaign-manager float-left "></div>
            <div class="col-sm-2 campaign-manager float-left css-sm-animate-fadeIn   css-sm-fontsize25 cs-sm-col-gray" style="display: none;">
                @Model.Failed.Temporary.Total.ToString("#,##0")
                <br />
                <lbl>Failed(Temp)</lbl>
            </div>
        </div>*@
        <hr />
        <div class="row" style="padding: 0px; margin-left: 0px;">

            <span id="span_deleteback" style="float: left;">
                <a class="btn btn-lg btn-info" href="/Tag/Index">Back</a>
                <input type="button" class="btn btn-lg btn-warning" onclick="fn_hide_span_yesno(1)" value="Delete">
            </span>
            <span id="span_yesno" style="float: right;">
                <label>Are yu sure to remove this tag?</label>

                <input type="button" class="btn btn-lg btn-warning" onclick="location.href='@Url.Action("DeleteTag", "Tag", new { id = @Model.tag })'" value="Yes">
                <input type="button" class="btn btn-lg btn-info" onclick="fn_hide_span_yesno(0)" value="Cancel">
            </span>
        </div>


    </div>

</div>


</div>
</div>
}
else
{
<h1><label style="color: #667957;">No Stats found !!!</label></h1>
<a class="btn btn-lg btn-info" href="/Tag/Index">Back</a>

}


